<div class="row center-align">
    <div class="col m4">
        <h2>To Do</h2>
    </div>
    <div class="col m4">
        <h2>Doing</h2>
    </div>
    <div class="col m4">
        <h2>Done</h2>
    </div>
</div>

{{!-- <h1>Not Devoured</h1>
<ul>
    {{#each burgers}} {{#unless devoured}}
    <li data-id="{{id}}">{{burger_name}}</li>
    {{/unless}} {{/each}}
</ul>

<h1>Devoured</h1>
<ul>
    {{#each burgers}} {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}} {{/each}}
</ul> --}}